.Range
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Range .DayPicker-Day {
  border-radius: 0 !important;
}



.calendar-container{
  width:100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.MyStyle{
  display: flex;
  justify-content: center;
}

.MyStyle .DayPicker-NavButton{
  width: 1.75rem;
  height: 1.75rem;
}

.MyStyle .DayPicker-Weekday{
  padding:1rem 1.3rem;
  color:#000;
  font-weight: bold;
  border-right: dotted 2px #949494;
  border-left: dotted 2px #949494;
  border-bottom: solid 2px #777777;
}
.MyStyle .DayPicker-Weekday:nth-child(1){
  border-left:none;
}
.MyStyle .DayPicker-Weekday:nth-child(7){
  border-right:none;
}

.MyStyle .DayPicker-Day:nth-child(1){
  border-left:none;
}
.MyStyle .DayPicker-Day:nth-child(7){
  border-right:none;
}
.MyStyle .DayPicker-Week:last-child .DayPicker-Day{
  border-bottom:none;
}

.MyStyle .DayPicker-Day{
  padding:0.8rem 1rem;
  border-radius: 0;
  border: dotted 1px #949494;
}

.DayPicker-text{
  font-size:1.2rem;
}

.link{
  color: #fff;
  min-width: 50px;
  min-height:50px;
  border: 2px solid #51a0fa;
  background-color: #51a0fa;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  padding:0.5rem;
}

.link:hover{
  background-color: #3976bb;
  border: 2px solid #3976bb;
  color: #fffc;
  font-weight: 400;
}

.DayPicker-Day--booking{
  color:#fff;
  background-color:#d36f1e;
}

.DayPicker-Day--outside{
  background-color: #fff;
}