#top{
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#client{
    background: url("../img/low_contrast_linen.png"); /* Background pattern from Toptal Subtle Patterns */
    width:100%;
}

