* {box-sizing:border-box;}
html,body {height:100%;}
body {
  margin: 0;
  padding: 0;
  font-family: Proxima;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Proxima-light;
  src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNova-Regular.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.r {
  clear: both;
  height: 3em;
}
