

#svg-map {
  max-height: 800px;
  max-width: 500px;
  padding:25px 0;
}

.room-box{
  padding:20px;
  background-color:#313131;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.room-info{
  padding:20px;
}

.room-info > div{
  display: inline;
}

.cls-1,
.cls-13 {
  fill: #fff;
}
.cls-2 {
  clip-path: url(#clip-path);
}
.cls-3 {
  clip-path: url(#clip-path-2);
}
.cls-4 {
  fill: #c7b299;
  opacity: 0.6;
}
.cls-5 {
  clip-path: url(#clip-path-3);
}
.cls-6 {
  clip-path: url(#clip-path-4);
}
.cls-7 {
  clip-path: url(#clip-path-5);
}
.cls-8 {
  clip-path: url(#clip-path-6);
}
.cls-9 {
  clip-path: url(#clip-path-7);
}
.cls-10 {
  clip-path: url(#clip-path-8);
}
.cls-11 {
  clip-path: url(#clip-path-9);
}
.cls-12 {
  clip-path: url(#clip-path-10);
}
.cls-13,
.cls-14 {
  stroke: #998675;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
}
.cls-14 {
  fill: #fff;
}
.cls-15 {
  fill: #333;
}
.cls-16 {
  fill: #deaf59;
}
.cls-17 {
  clip-path: url(#clip-path-11);
}
.cls-18 {
  clip-path: url(#clip-path-12);
}
.cls-19 {
  clip-path: url(#clip-path-13);
}
.cls-20 {
  clip-path: url(#clip-path-14);
}

.room-hover *{
  transition: 0.3s;
  cursor: pointer;
}

.room-hover rect:hover, #room4-rect:hover polyline{
  fill:#e6e6e6;
}

.disabled{
  opacity:0.8;
}

.disabled path{
  fill:#a3a3a3
}

.disabled *{
  cursor:default;
}

.disabled:hover rect, .disabled #room4-rect:hover polyline{
  fill:#fff;
}

.selected rect, .selected polyline{
  fill:#ccc2b8
}
