
.cls-1,
.cls-13 {
  fill: #fff;
}
.cls-2 {
  clip-path: url(#clip-path);
}
.cls-3 {
  clip-path: url(#clip-path-2);
}
.cls-4 {
  fill: #c7b299;
  opacity: 0.6;
}
.cls-5 {
  clip-path: url(#clip-path-3);
}
.cls-6 {
  clip-path: url(#clip-path-4);
}
.cls-7 {
  clip-path: url(#clip-path-5);
}
.cls-8 {
  clip-path: url(#clip-path-6);
}
.cls-9 {
  clip-path: url(#clip-path-7);
}
.cls-10 {
  clip-path: url(#clip-path-8);
}
.cls-11 {
  clip-path: url(#clip-path-9);
}
.cls-12 {
  clip-path: url(#clip-path-10);
}
.cls-13,
.cls-14 {
  stroke: #998675;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
}
.cls-14 {
  fill: #fff;
}
.cls-15 {
  fill: #333;
}
.cls-16 {
  fill: #deaf59;
}
.cls-17 {
  clip-path: url(#clip-path-11);
}
.cls-18 {
  clip-path: url(#clip-path-12);
}
.cls-19 {
  clip-path: url(#clip-path-13);
}
.cls-20 {
  clip-path: url(#clip-path-14);
}

.room-hover *{
  transition: 0.3s;
  cursor: pointer;
}

.room-hover rect:hover, #room4-rect:hover polyline{
  fill:#e6e6e6;
}

.disabled{
  opacity:0.8;
}

.disabled path{
  fill:#a3a3a3
}

.disabled *{
  cursor:default;
}

.disabled:hover rect, .disabled #room4-rect:hover polyline{
  fill:#fff;
}

.selected rect, .selected polyline{
  fill:#e4c4a5
}

.room-box{
  background-color:#313131;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.room-info{
  padding:1em;
  width:100%;
}

.room-info-in{
  padding-bottom:0.5em;
}

.room-info-in h2{
  font-size:1.62em;
  margin:0;
}

.room-info > div{
  display: inline;
}

.opinions-container{
  padding:1em;
  width:100%;
}

.rooms-chosen-container{
  background-color:#313131;
  border-radius: 10px;
  color:#fff;
}

.rooms-chosen-container h3{
  padding:1em;
}

.rooms-chosen-single{
  padding:0.79em;
}

.rooms-chosen-single-img{
  display: inline-block;
  background-image: url("../img/icon-x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: .3s;
}

.rooms-chosen-single-img:hover{
    background-image: url("../img/icon-x-full.png");
}

.star{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 1.5em;
  height: 1.5em;
  margin: 0.2em;
}

.star-full{
  background-image: url("../img/star-full.png");
}

.star-empty{
  background-image: url("../img/star.png");
}


.button-booking{
  padding:0.25em 1em;
  margin-bottom:2em;
  background-color:rgb(136, 44, 44);
  color:#fff;
  font-size:1.62em;
  border:none;
  border-radius: 10px;
  transition:.3s;
  cursor: pointer;
}

.button-booking:disabled{
  background-color:rgb(138, 103, 103);
  cursor: default;
}

.button-booking:hover:enabled{
  background-color:rgb(129, 26, 26);
}