.client-select {
  padding: 0.5em;
  width: 100%;
}

.client-select-title {
  background-color: #fff;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}
.client-select-person {
  position: relative;
  background-color: #fff;
  padding: 0.5em 2em 0.5em 0.5em;
  min-height: 3em;
  transition: 0.5s;
}

.client-select-room{
  position: relative;
  background-color: #fff;
  min-height: 3em;
  transition: 0.5s;
}

.client-select-arrow {
  position: absolute;
  cursor: pointer;
  right: 0.5em;
  top: 0em;
  width: 1.5em;
  height: 1.5em;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  transition: 0.5s;
}

.rotate-90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.client-select-person-icon,
.client-select-person label {
  position: relative;
  cursor: pointer;
  background-image: url("../img/ludzik.svg");
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  transition: 0.5s;
}

.client-select-person input,
.client-select-room input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.icon-gray {
  opacity: 0.3;
}

.client-select-person input label.icon-gray:hover {
  opacity: 1;
}

.client-select-person input:checked ~ label {
  opacity: 0.3;
}

.client-select-person input:checked ~ label:hover {
  opacity: 1;
}

.client-select-person input:checked + label {
  opacity: 1;
}

.client-select-person input:checked + label:hover {
  opacity: 1;
}

.client-select-person input:focus + label,
.client-select-person input:checked + label:active {
  opacity: 1;
}

.client-select-person label:hover {
  opacity: 1;
}

.client-select-room label{
  width:100%;
  background-color:#fff;
  padding:0.25em 2em 0.25em 0.5em;
  transition:0.5s;
  cursor: pointer;
  margin-bottom:0;
}

.client-select-room  label:hover,
.client-select-room input[type="radio"]:checked + label{
  background-color:#deaf59;
}
